*{
    box-sizing: border-box;
  color : white
}
body{
    height: 100%;
}
header{
    width: 100%;
    background-color: #E56262;
    height: 6%;
}
header nav{
    top:-30%;
}
header nav img{
    margin:-15px 5px 0 5px;
}
header nav #info{
    margin: -17px -10px 0 0 ; 
}
header nav div{
    margin-left:-25px  ; 
}
main{
    background-color:#FFB2B2 ;  
    position: absolute;
    width: 100%;
    height: 94%;
}
button{
    border-radius: 10px;
}
.nama{
    width: 50%;
    float: left;
    text-align: center;
}
.nama img{
    position: absolute;
    margin: 30px 0 0 -10em;
    width: 385px;
    max-width: 100%;
}
.nama h1{
    margin-top:30px;
}
.nama p{
    margin:-20px 0 0 -13em;
}
.nama p span{
    color: #FF00E5;
}
.sibar{
    width: 50%;
    float: left;
    height: 94%;
}
.join{  
    position: absolute;
    margin: 11em  0 0 0; 
    visibility: visible;
}
.join p{
    margin: 1em 0 2em  0;
}
.join a{
    font-size: 26px;
}
.join p{
    font-size: 19px;
}
.join h2{
    font-size: 42px;
}
.join a button{
    font-size: 26px;
    margin: 1em 0 0 4em;
    padding: 10px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.join a .btn2{
    margin: 20px 0 0 3em;
}

.poly1{
    position: absolute;
    width: 300px;
    margin: 12em 0 0 5em;
    animation: myfirst 0.7s infinite alternate;
}

@keyframes myfirst {
  0%    { left:0px; top:0px ;bottom:0px ; right: 0px;}
  100% { left:40px; top:40px ;bottom:40px ; right: 40px;}
}
.poly2{
    position: absolute;
    width: 500px;
    margin: 5em 0 0 35em;
    animation: my 0.7s infinite alternate;
    -webkit-animation: my 0.7s infinite alternate;
}

.daftar{
    visibility: hidden;
    position: absolute;
    top:5%;
    left: 55%;
   font-size: 27px;
}
.daftar .reg {
    font-size: 60px 
}
.daftar .tutup{
    position: absolute;
    font-size: 36px;
    margin: -3.5em 0 0 12em;
    cursor: pointer;
}
.daftar a button,input{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border:none;
    font-size: 26px;
    width: 450px;
    height: 50px;
}
.daftar .gmail button{
    font-size: 27px;
}

.daftar input{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.daftar .btn button{
    width: 200px;
    max-width: 100%;
    font-size: 20px;
    padding: 8px 20px;
    margin: 20px 4px 0px -5px;
}
.masuk1{
    visibility: hidden;
    position: absolute;
    top:10%;
    left: 55%;
}
.masuk1 .titl {
    font-size: 60px ;
}
.masuk1 p span{
    color: #FF00E5;
}
.masuk1 input{
    font-size: 26px;
    width: 450px;
    height: 50px;
    margin: 10px 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
 
}

.masuk1 a button{
    font-size: 26px;
    width: 450px;
    height: 50px;
    margin:5px 0 0 -15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.masuk1 p a{
    color:black;
    text-decoration: none;
}
.masuk1 hr{
    border: 0.5px solid rgb(49, 49, 49);
    margin-right:1em;
}
.masuk1 .tutup{
    display:none;
    }
.masuk1 a .btn3{
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px){
    .poly1, .poly2, .sibar .join h2, p{
        display: none;
    } 
    body{
      
        height: 100%;
        width: 600px;
        max-width: 100%;
    }
   .nama{
       margin: -20px 0 0 0;
       position: absolute;
       width: 100%;
       float:left;
   }
   .nama img{
    margin: 7px 0 0 -9em;
       width: 340px;
       max-width: 100%;
       position: absolute;
       visibility: visible;
   }
   .sibar{
       position: absolute;
       width: 100%;
       float:left;
   }
   .sibar .join a button{
    position: absolute;
    margin: 11.8em 0 0 3em;
   }
   .sibar .join a .btn2{
    position: absolute;
    margin: 11.8em  0 0 11em;
    }
    header{
    max-width: 100%;
    width:100%;
    }
    header nav #info{
        padding: 15px 0 0 0;
       }
    header nav div a img{
        padding: 15px 0 0 0;
    }
    .daftar{
        position: relative;
        width: 90%;
        max-width: 100%;
        float: left;
        margin: 5em 0 0 -9em;
        padding-bottom: -40px;
}
    .daftar input{
         position: relative;
         width: 100%;
}
    .daftar .gmail button{
        position: relative;
        width: 100%;
        margin: 0 0 0 -2px;

}
    .daftar  .tutup{
        position:absolute;
        margin: -2.3em 0 0 11.5em;
        color:black; 
}
    .daftar a .btn1{
        position: absolute;
        width: 200px;
        margin: -0.5em 0 0 -10px;
}
    .daftar a .btn2{
        position: absolute;
        width: 200px;
        margin: -0.5em 0 0 10em;
}

    .masuk1{
        position: absolute;
        width: 100%;
        max-width: 100%;
        float: left;
        margin: 5em 0 0 -16em;
        padding-left: 20px;

        text-align: center;
        padding-top:20px;
        max-width: 100%;
    }
    .masuk1 .tutup{
    font-size: 36px;
    position: relative;
    margin: 0 0 0 12em;
    cursor: pointer;
    }
    .masuk1 hr{
        display: none;
    }
    .masuk1 input{
        margin-right:20px;
        background-color: rgba(255, 255, 255, 0.3);
    }
}
